OPINION_API_KEY=
OPINION_PROXY=
OPINION_DEFAULT_EOA=

OPINION_API_KEY_2=
OPINION_PROXY_2=
OPINION_EOA_2=

OPINION_CLOB_PK_1=
OPINION_CLOB_PK_2=

OPINION_CLOB_HOST=https://proxy.opinion.trade:8443
BSC_RPC_URL=https://bsc-dataseed.binance.org/

PYTH_API_URL=https://hermes.pyth.network/api/latest_price_feeds
BTC_PRICE_FEED_ID=0xe62df6c8b4a85fe1a67db44dc12de5db330f7ac66b72dc658afedf0f4a415b43

MIN_PRICE_GAP=200
TIME_BEFORE_END=300

SECRET_KEY=
FLASK_ENV=development
FLASK_DEBUG=True
